jobs/social_flows/social_personal.json
[{"id":"5883a750.fffbc8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d90c7fe1.2a088","type":"get","z":"5883a750.fffbc8","name":"r/Awww top hour","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","content_source":"saved","subreddit":"shiba","user":"","limit":"2","sort":"top","time":"all","fetch_all":"false","submission":"","depth":"","content_id":"","x":400,"y":40,"wires":[["bcdba67f.f2f948"]]},{"id":"91c4432c.fd8ec","type":"get","z":"5883a750.fffbc8","name":"r/shiba top hour","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","content_source":"saved","subreddit":"shiba","user":"","limit":"2","sort":"top","time":"hour","fetch_all":"false","submission":"","depth":"","content_id":"","x":400,"y":100,"wires":[["bcdba67f.f2f948"]]},{"id":"595ccbe5.1f6444","type":"get","z":"5883a750.fffbc8","name":"r/animalsbeingjerks top hour","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","content_source":"saved","subreddit":"animalsbeingjerks","user":"","limit":"2","sort":"top","time":"hour","fetch_all":"false","submission":"","depth":"","content_id":"","x":360,"y":160,"wires":[["bcdba67f.f2f948"]]},{"id":"b59f07ad.18e1a8","type":"get","z":"5883a750.fffbc8","name":"get r/Awww submissions","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","content_source":"saved","subreddit":"Awww","user":"","limit":"2","sort":"top","time":"day","fetch_all":"false","submission":"","depth":"","content_id":"","x":370,"y":220,"wires":[["bcdba67f.f2f948"]]},{"id":"7ffdbb26.fc0484","type":"get","z":"5883a750.fffbc8","name":"get r/cats submissions","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","content_source":"saved","subreddit":"cats","user":"","limit":"2","sort":"top","time":"hour","fetch_all":"false","submission":"","depth":"","content_id":"","x":380,"y":280,"wires":[["bcdba67f.f2f948"]]},{"id":"c0e12612.ec6d78","type":"debug","z":"5883a750.fffbc8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":460,"wires":[]},{"id":"3b95e7cc.3ca1a8","type":"inject","z":"5883a750.fffbc8","name":"","topic":"","payload":"at interval","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[["d0761ae3.923928"]]},{"id":"4d2e40a0.5c074","type":"get","z":"5883a750.fffbc8","name":"test node","reddit":"","content_type":"submission","submission_source":"user","comment_source":"subreddit","pm_source":"inbox","content_source":"saved","subreddit":"test","user":"psycheyyy","limit":"7","sort":"new","time":"hour","fetch_all":"false","submission":"","depth":"","content_id":"","x":660,"y":460,"wires":[["c0e12612.ec6d78"]]},{"id":"bcdba67f.f2f948","type":"join","z":"5883a750.fffbc8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":280,"wires":[[]]},{"id":"74b76d09.f73ff4","type":"function","z":"5883a750.fffbc8","name":"on change","func":"// if (msg.payload == \"69\" ) {\n//     return msg;\n// }\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["4d2e40a0.5c074"]]},{"id":"d0761ae3.923928","type":"rbe","z":"5883a750.fffbc8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":290,"y":460,"wires":[["74b76d09.f73ff4"]]},{"id":"7c3e0abc.cfbf84","type":"debug","z":"5883a750.fffbc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1030,"y":580,"wires":[]},{"id":"25ec6865.eb7458","type":"inject","z":"5883a750.fffbc8","name":"","topic":"","payload":"at interval","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":580,"wires":[["91f21ad9.4db398"]]},{"id":"c61cdc43.c48e8","type":"get","z":"5883a750.fffbc8","name":"get submissions","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","content_source":"saved","subreddit":"Awww","user":"psycheyyy","limit":"16","sort":"top","time":"day","fetch_all":"false","submission":"","depth":"","content_id":"","x":600,"y":580,"wires":[["51590c97.79e1c4"]]},{"id":"3b816a84.eed636","type":"function","z":"5883a750.fffbc8","name":"on change","func":"if (msg.payload == \"69\" ) {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":580,"wires":[["c61cdc43.c48e8"]]},{"id":"91f21ad9.4db398","type":"rbe","z":"5883a750.fffbc8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":290,"y":580,"wires":[["3b816a84.eed636"]]},{"id":"51590c97.79e1c4","type":"function","z":"5883a750.fffbc8","name":"","func":"test = {};\nif (msg.payload) {\n    if (msg.payload['crosspost_parent_list'] && msg.payload['crosspost_parent_list'].length > 0)\n    {\n        test['original_author'] = msg.payload['crosspost_parent_list'][0]['author']['name'];\n    }\n    test['permalink']= msg.payload['permalink'];\n    test['title']= msg.payload['title'];\n    test['url']= msg.payload['url'];\n    // 'author_fullname': msg.payload['author_fullname'],\n    // 'media': msg.payload['media'],\n    test['thumbnail']= msg.payload['thumbnail'];\n    // 'preview': msg.payload['images'][0]['source']['url'],\n    test['created_utc']= msg.payload['created_utc'];\n    test['other']= msg.payload;\n    test['author']= msg.payload['author'];\n    test['score']= msg.payload['score'];\n    test['ups']= msg.payload['ups'];\n    test['comments']= msg.payload['num_comments'];\n    test['upvote_ratio']= msg.payload['upvote_ratio'];\n    test['total_awards_received']= msg.payload['total_awards_received'];\n    // 'source': msg.payload['preview']['images'][0]['resolutions'][3]['url']\n    \n    // get video URL\n    if(msg.payload['media'] && msg.payload['media']['reddit_video']) {\n        test['video_url'] = msg.payload['media']['reddit_video']['fallback_url']\n    }else if(msg.payload['media'] && msg.payload['media']['oembed']) {\n        test['video_url'] = msg.payload['media']['oembed']['html']\n    }\n}\n\n\n\nmsg.payload = test\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":580,"wires":[["1b23950a.dbd25b"]]},{"id":"91ec7147.eddd6","type":"get","z":"5883a750.fffbc8","name":"get r/cats submissions","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","content_source":"saved","subreddit":"CuddlePuddle","user":"","limit":"2","sort":"top","time":"hour","fetch_all":"false","submission":"","depth":"","content_id":"","x":380,"y":340,"wires":[["bcdba67f.f2f948"]]},{"id":"1b23950a.dbd25b","type":"join","z":"5883a750.fffbc8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":580,"wires":[["7c3e0abc.cfbf84"]]}]