jobs/social_flows/tutorial_flow.json
[{"id":"a0fb5310.acc02","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2ba3d3d9.777a9c","type":"inject","z":"a0fb5310.acc02","name":"","topic":"","payload":"Hello world!","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":270,"y":140,"wires":[["86487ec5.8f2a2"]]},{"id":"86487ec5.8f2a2","type":"function","z":"a0fb5310.acc02","name":"getDay(0-5)","func":"msg.day = new Date().getDay();\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["6e8e0683.373bb8"]]},{"id":"3eb752dc.9387ae","type":"switch","z":"a0fb5310.acc02","name":"weekend?","property":"day","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"5","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":300,"wires":[["116ba754.1842c9"],[]],"outputLabels":["week day","weekend"]},{"id":"116ba754.1842c9","type":"change","z":"a0fb5310.acc02","name":"","rules":[{"t":"set","p":"backup","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"\"Here is the report: \" & msg.payload","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"\"Daily report #\" & $string(msg.day)","tot":"jsonata"},{"t":"set","p":"to","pt":"msg","to":"tappiera00@gmail.com","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":300,"wires":[["ae858533.48d8f8","cdd8fea9.cb9e6"]]},{"id":"6e8e0683.373bb8","type":"rbe","z":"a0fb5310.acc02","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"day","x":630,"y":240,"wires":[["3eb752dc.9387ae"]]},{"id":"ae858533.48d8f8","type":"e-mail","z":"a0fb5310.acc02","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"","x":1230,"y":300,"wires":[]},{"id":"cdd8fea9.cb9e6","type":"debug","z":"a0fb5310.acc02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":220,"wires":[]}]